extends default

block header
    link(rel='stylesheet', href='/css/index.css')    

block content
    main
        h1.nonoselect Snippets
        h2.noselect Manage your Github Gists
        img(src="/images/monitor.svg")     
        a#login.noselect(href="/login") Login
        h4.noselect Doesn't have an account? Sign up 
            a#signup.noselect(href='/signup') Here
    footer