extends default

block header
    link(rel='stylesheet', href='/css/index.css')    

block content
    main
        h1.nonoselect Snippets
        h2.noselect Manage your Github Gists
        img(src="/images/monitor.svg")     
        a.noselect(href="/login") Login
    footer