doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/login.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body      
        section.container
            div#login
                h1 Login
                form#form(method='POST',action='')
                    label Email
                    input(type="email", name="oi")
                    label Password
                    input(type="password")
                    input(type="submit", value="Login")